<p id="notice"><%= notice %></p>
<table>
  <tr>
    <th>Player</th>
    <th colspan="3"></th>
  </tr>
  <% @players.each do |player| %>
    <tr>
      <td><%= player.name %></td>
      <td><%= link_to 'Show Graphs', player %></td>
      <td><%= link_to 'Edit', edit_player_path(player) %></td>
      <td><%= link_to 'Delete', player, method: :delete, data: {confirm: 'Delete?'} %></td>
    </tr>
  <% end %>
</table>

<%= link_to 'Add', new_player_path %>