<!--<%= line_chart Game.group(:date, :created_at).count %>-->

Player Details: <%= @player.name %>

<table>
  <tr>
    <th colspan="1"></th>
    <th># of Wins</th>
    <th># of Losses</th>
  </tr>
  <tr>
    <td>Total</td>
      <td><%= @player.assignments.map {|a| a.team == a.game.team}.count(true) %></td>
      <td><%= @player.assignments.map {|a| a.team == a.game.team}.count(false) %></td>
  </tr>
  <% @results.each do |result| %>
    <tr>
      <td><%= result[:team] %></td>
      <td><%= result[:wins] %></td>
      <td><%= result[:losses] %></td>
    </tr>
   <% end %>
</table>

<%= bar_chart @player_wins_by_team, stacked: true %>

<%= column_chart @player_wins_by_role %>

<%= pie_chart @player_roles %>